body {background-color: #c5ffa0;}
a {color:#000060; font-weight: bold;}
a:hover {color:#ff0000; font-weight: bold; text-decoration:none;}
/*Текст в верху страниц*/
h1 {color: #fff; font-size:18px; padding:0px 50px;}
/*Текст в кнопках*/
h2 {color: #fff; font-size:20px;text-align: center;}
/*Текст никнейма в меню*/
h3 {color: #fff; font-size:25px;text-align: center;}
/*Рейтинг*/
h4 {color: #fff; font-size:25px;text-align: center;top: 30px;}
/*Для таблицы Рейтинг*/
td, th {text-align: center;background: #fff;padding: 5px;width:100px;height:45px;}




.glav{display: inline-block;vertical-align: middle;text-align: left;background-color:green;width:400px;height:300px; position: relative;}
.registration{display: inline-block;vertical-align: middle;text-align: left;background-color:green;width:400px;height:380px; position: relative;}
.usermenu{display: inline-block;vertical-align: middle;text-align: left;background-color:green;width:400px;height:380px; position: relative;}
/*Для входа*/
a.vhod  {
  color: #fff;
  font-size:18px;
  padding: 10px 0px;
  text-align: center;
  text-decoration:none;
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  height: 27px;
  width:110px;
  position: absolute;
  left: 50px;
  bottom: 30px;
} 
a.vhod:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.vhod:active { background: rgb(152,15,0); } /* при нажатии */
a.reg  {
  color: #fff;
  font-size:18px;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  height: 27px;
  width:110px;
  position: absolute;
  left: 240px;
  bottom: 30px;
} 
a.reg:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.reg:active { background: rgb(152,15,0); } /* при нажатии */
/*Для регистрации*/
a.create  {
  color: #fff;
  font-size:18px;
  padding: 10px 0px;
  text-align: center;
  text-decoration:none;
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  height: 27px;
  width:110px;
  position: absolute;
  left: 50px;
  bottom: 30px;
} 
a.create:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.create:active { background: rgb(152,15,0); } /* при нажатии */
a.cancel  {
  color: #fff;
  font-size:18px;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  height: 27px;
  width:110px;
  position: absolute;
  left: 240px;
  bottom: 30px;
} 
a.cancel:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.cancel:active { background: rgb(152,15,0); } /* при нажатии */
/*Для меню игрока*/
a.creategame  {
  color: #fff;
  font-size:18px;
  padding: 10px 0px;
  text-align: center;
  text-decoration:none;
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  height: 30px;
  width:150px;
  position: absolute;
  left: 125px;
  top: 110px;
} 
a.creategame:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.creategame:active { background: rgb(152,15,0); } /* при нажатии */
a.joingame  {
  color: #fff;
  font-size:18px;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  height: 40px;
  width:150px;
  position: absolute;
  left: 125px;
  top: 180px;
} 
a.joingame:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.joingame:active { background: rgb(152,15,0); } /* при нажатии */
a.rating  {
  color: #fff;
  font-size:18px;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  height: 30px;
  width:150px;
  position: absolute;
  left: 125px;
  top: 260px;
} 
a.rating:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.rating:active { background: rgb(152,15,0); } /* при нажатии */
a.logout  {
  color: #000000;
  font-size:15px;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  user-select: none; /* убирать выделение текста */
 /* фон кнопки rgb(212,75,56) */
  outline: none; /* убирать контур в Mozilla */
  height: 15px;
  width:70px;
  position: absolute;
  right: 50px;
  top: 60px;
} 
a.logout:hover { color: #ff0000; } /* при наведении курсора мышки */
a.logout:active { color: rgb(152,15,0) ; } /* при нажатии */
/*Для рейтинга*/
a.vmenu  {
  color: #fff;
  font-size:18px;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  height: 30px;
  width:150px;
  position: absolute;
  left: 125px;
  bottom: 40px;
} 
a.vmenu:hover { color: #ff0000; } /* при наведении курсора мышки */
a.vmenu:active { color: rgb(152,15,0) ; } /* при нажатии */


.popup--centered_overlay {
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .popup--centered_overlay::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .popup--centered {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
  }
